.container{
    background-image: url("../assets/background.jpg");

}
.search-box {
    margin: auto;
    width: 50%;
}
.header {
    background: linear-gradient(to bottom , black , black);
    

}
.footer {
    background-color: black !important;
    margin: 0;
    font-size: 0.8rem;
    font-weight: 300;
    padding: 0.4rem;
}
.btn {
    background: #e50914;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 7px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
}
.btn-container {
    position: absolute;
    right: 0;
    padding-right: 20px;
    display: inline-block;
    
}
