<nb-layout>

  <nb-layout-header class="header">
    <img class="logo" src="../assets/logo.png" style="padding: 10px;">
    <div class="btn-container">
      <a class='btn' href="/">Search</a>
      <a class='btn' href="bookmark">Bookmarks</a>
    </div>
    
  </nb-layout-header>
  

  <nb-layout-column style="padding: 0!important;" class="container">
    <router-outlet></router-outlet>



  </nb-layout-column>

  <nb-layout-footer class="footer" style="padding: 0 !important;">
    <p>MovieMark | Copyright | 2021</p>
    
  </nb-layout-footer>

</nb-layout>