.card-component {
    /* float: left;
    padding: 20px; */
    /*  */
    padding: 20px;
    
}
/* .card-body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 150px;
}

  img{
      height: 2.5rem;
      width: 100%;
  }
  
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }

  .row {margin: 0 -5px;} */
  
/*   
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  } */
  
  /* @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  } */

  .movie_card_container {
    cursor: pointer;
    width: 100%;
    border: none;
    background-color: charcoal;
    transition: all 0.25s ease;
    height: 400px;
  }
  
    nb-card-body {
      padding: 0;
      margin-bottom: -0.4rem;
      border-bottom-right-radius: 0.2rem;
      border-bottom-left-radius: 0.2rem;
      overflow: hidden;
    }
  
      .movie_poster {
        overflow: hidden;
        padding-bottom: 3rem;
        margin-left: -1px;
        margin-bottom: -1px;
      }
  
         img {
          object-fit: cover;
          object-position: top;
          width: 100%;
          height: 25rem;
          border-top-right-radius: 0.2rem;
          border-top-left-radius: 0.2rem;
          transition: all 0.4s ease-in-out;
        }
      
  
     .movie_content_container {
        padding: 1rem;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background: #000;
     }
  
        .bookmark_icon {
          font-size: 2rem;
          color: rgb(83, 83, 83);
          position: absolute;
          right: 0.4rem;
          top: 0.4rem;
        }
  
          :hover {
            color: red;
          }
        
  
        .movie_title {
          color: #fff;
        }
          .title_label {
            font-weight: 400;
            margin: 0;
            color: inherit;
          }
  
           p {
            font-size: 0.8rem;
            font-weight: 600;
            margin: 0;
            color: inherit;
          }
          h5 {
            color: white;
          }
      
  
        .movie_year_container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #fff;
        }
  
          .movie_year {
          }
          .year {
              color: primary_color;
          }
            p {
              font-weight: 500;
              font-size: 0.8rem;
              color: inherit;
            }
  
              span {
                font-weight: 400;
                color: #fff;
     }
  
    /* :hover {
      box-shadow: 0 8px 30px 0 #1f1f1f99;
      transform: scale3d(1.01, 1.01, 1.01);
    } */
  
    :hover .movie_poster img {
      transform: scale3d(1.01, 1.01, 1.01);
    }